.rainbow-auth-firebase-social-login_buttons-container {
    display: flex;
    flex-direction: column;
    padding-right: 24px;
    width: 50%;
}

.rainbow-auth-firebase-social-login_buttons-container > :not(:last-child) {
    margin-bottom: 34px;
}

.rainbow-auth-firebase-social-login_social-icon {
    position: absolute;
    left: 16px;
}

.rainbow-auth-firebase-social-login_button {
    height: 44px;
}

.rainbow-auth-firebase-social-login_facebook-button {
    background-color: #004ca9;
    border-color: #004ca9;
    color: #fff;
    margin-top: 20px;
}

.rainbow-auth-firebase-social-login_facebook-button:hover, .rainbow-auth-firebase-social-login_facebook-button:focus {
    background-color: #023a7e;
    border-color: #023a7e;
    color: #fff;
}

.rainbow-auth-firebase-social-login_amazon-button, .rainbow-auth-firebase-social-login_amazon-button:hover {
    color: #061C3F;
}

.rainbow-auth-firebase-social-language {
    width: 140px;
    height: 40px;
    align-self: center;
    margin-top: 40px;
}

@media (max-width: 620px) {
    .rainbow-auth-firebase-social-login_buttons-container {
        padding: 0;
        width: 100%;
    }
    .rainbow-auth-firebase-social-language {
        display: none;
    }
}
