.rainbow-auth-firebase-privacy-policy_header {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Lato-Light';
    font-size: 24px;
    font-weight: 300;
    color: #061c3f;
    height: 72px;
    box-shadow: 0 1px 2px 0 #e3e5ed;
    border: solid 1px #e3e5ed;
    background-color: #ffffff;
}

.rainbow-auth-firebase-privacy-policy_content {
    font-family: 'Lato-Light';
    font-size: 16px;
    font-weight: 300;
    color: #061c3f;
    padding: 32px 30px;
}

.rainbow-auth-firebase-privacy-policy_back-button {
    position: absolute;
    top: 16px;
    left: 12px;
}

@media (min-width: 1600px) {
    .rainbow-auth-firebase-privacy-policy_back-button {
        left: 120px;
    }
}

@media (max-width: 620px) {
    .rainbow-auth-firebase-privacy-policy_back-button {
        left: 1px;
    }
    .rainbow-auth-firebase-privacy-policy_header {
        font-size: 18px;
        padding-left: 60px;
    }
    .rainbow-auth-firebase-privacy-policy_content {
        font-size: 14px;
        padding: 24px 16px;
    }
}
