.aws-amplify-app-verify-account_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 16px;
    height: 100vh;
    position: relative;
}

.aws-amplify-app-verify-account_back-link {
    display: flex;
    align-items: center;
    position: absolute;
    left: 24px;
    top: 24px;
    color: #01b6f5;
    text-align: center;
    font-size: 1rem;
}

.aws-amplify-app-verify-account_back-link:hover, .aws-amplify-app-verify-account_back-link:hover svg {
    color: #005fb2;
    fill: #005fb2;
}

.aws-amplify-app-verify-account_back-icon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

.aws-amplify-app-verify-account_image {
    height: 40px;
    width: 40px;
}

.aws-amplify-app-verify-account_header {
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #576574;
    margin: 16px 0 20px 0;
}

.aws-amplify-app-verify-account_card {
    display: flex;
    justify-content: center;
    padding: 24px 40px;
    width: 420px;
    margin-bottom: 16px;
}

.aws-amplify-app-verify-account_message {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
    color: #061c3f;
    padding: 0 32px;
}

.aws-amplify-app-verify-account_content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aws-amplify-app-verify-account_content > :not(:first-child) {
    margin-top: 24px;
}

.aws-amplify-app-verify-account_content > :last-child {
    margin-top: 8px;
}

.aws-amplify-app-verify-account_no-code {
    font-size: 14px;
    text-align: center;
    color: #576574;
}

.aws-amplify-app-verify-account_link {
    color: #01b6f5;
    text-align: center;
    font-size: 1rem;
}

.aws-amplify-app-verify-account_resend {
    width: 110px;
    align-self: center;
}
