@media (max-width: 620px) {
    .rainbow-auth-firebase_profile {
        height: 100vh;
    }
    .rainbow-auth-firebase-profile_content {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 64px;
    }
    .rainbow-auth-firebase-profile_content-user-photo-container {
        margin: 0 0 24px 0;
    }
    .rainbow-auth-firebase-profile_content-input-container {
        width: 100%;
        padding: 0 24px 24px 24px;
    }
    .rainbow-auth-firebase-profile_content-input {
        margin-right: 0;
        width: 100%;
    }
    .rainbow-auth-firebase-profile_actions {
        margin-top: 0;
    }
}
