.rainbow-auth-firebase_profile {
    height: calc(100vh - 76px);
    background-color: #f4f6f9;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 76px;
}

.rainbow-auth-firebase-profile_title {
    font-size: 24px;
    color: #061c3f;
    text-align: center;
    margin-top: 48px;
}

.rainbow-auth-firebase-profile_content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    padding-top: 24px;
}

.rainbow-auth-firebase-profile_content-input {
    width: 320px;
    margin-bottom: 24px;
    flex-shrink: 0;
}

.rainbow-auth-firebase-profile_content-user-photo-container {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.rainbow-auth-firebase-profile_content-user-photo {
    width: 126px;
    height: 126px;
    box-shadow: 0 1px 2px 0 #e3e5ed;
    border: solid 1px #e3e5ed;
    border-radius: 100px;
    margin-top: 4px;
}

.rainbow-auth-firebase-profile_actions {
    box-shadow: 0 1px 2px 0 #e3e5ed;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    margin-top: -66px;
    position: fixed;
    z-index: 1000;
    bottom: 0;width: 100%;
}

.rainbow-auth-firebase-profile_actions-buttons {
    margin-right: 24px;
}
