.rainbow-auth-firebase-signup_container {
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 40px;
    height: 100vh;
}

.rainbow-auth-firebase-signup_image {
    height: 40px;
    width: 40px;
}

.rainbow-auth-firebase-signup_header {
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #576574;
    margin: 14px 0 8px 0;
}

.rainbow-auth-firebase-signup_have-account {
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    color: #576574;
    margin-bottom: 16px;
}

.rainbow-auth-firebase-signup_card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 32px;
    width: 720px;
    margin-bottom: 16px;
    height: auto;
}

.rainbow-auth-firebase-signup_inputs-container {
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-left: 24px;
    border-left: solid 1px #e3e5ed;
    width: 50%;
}

.rainbow-auth-firebase-signup_inputs-container > :not(:first-child) {
    margin-top: 24px;
}

.rainbow-auth-firebase-signup_link {
    color: #01b6f5;
}

.rainbow-auth-firebase-signup-language {
    display: none;
}
