@media (max-width: 750px) {
    .rainbow-auth-firebase-signup_card {
        width: 600px;
    }
}

@media (max-width: 620px) {
    .rainbow-auth-firebase-signin_container {
        height: 100%;
    }
    .rainbow-auth-firebase-signin_card {
        width: 100%;
        border-radius: 0;
        padding: 20px;
        flex-direction: column;
    }
    .rainbow-auth-firebase-signin_inputs-container {
        border-left: 0;
        padding-left: 0;
        width: 100%;
    }
    .rainbow-auth-firebase-signin_header {
        font-size: 20px;
        margin: 8px 0 12px 0;
    }
    .rainbow-auth-firebase-signin-language {
        display: block;
        width: 140px;
        height: 40px;
        align-self: center;
        margin-top: 16px;
    }
}
