.rainbow-auth-firebase-signin_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 16px;
    height: 100vh;
}

.rainbow-auth-firebase-signin_image {
    height: 40px;
    width: 40px;
}

.rainbow-auth-firebase-signin_header {
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #576574;
    margin: 14px 0 8px 0;
}

.rainbow-auth-firebase-signin_do-not-have-account {
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
    color: #576574;
    margin-bottom: 16px;
}

.rainbow-auth-firebase-signin_card {
    display: flex;
    align-items: center;
    padding: 32px;
    width: 720px;
    margin-bottom: 16px;
}

.rainbow-auth-firebase-signin_inputs-container {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    border-left: solid 1px #e3e5ed;
    width: 50%;
}

.rainbow-auth-firebase-signin_inputs-container > :not(:first-child) {
    margin-top: 24px;
}

.rainbow-auth-firebase-signin_inputs-container > :last-child {
    margin-top: 16px;
}

.rainbow-auth-firebase-signin_link {
    color: #01b6f5;
    text-align: center;
    font-size: 1rem;
}
