.rainbow-auth-firebase-message_container {
    background-color: #fe4849;
    padding: 16px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 999999;
}

.rainbow-auth-firebase-message_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 980px;
}

.rainbow-auth-firebase-message_text {
    color: #ffffff;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 300;
    flex-grow: 1;
    text-align: center;
}

.rainbow-auth-firebase-message_icon, .rainbow-auth-firebase-message_close-button {
    flex-shrink: 0;
}
