@media (max-width: 620px) {
    .aws-amplify-app-reset-password_container {
        height: 100%;
        padding-top: 52px;
    }
    .aws-amplify-app-reset-password_back-link {
        left: 16px;
        top: 16px;
    }
    .aws-amplify-app-reset-password_card {
        width: 100%;
        border-radius: 0;
        padding: 20px;
        flex-direction: column;
    }
    .aws-amplify-app-reset-password_content {
        border-left: 0;
        padding-left: 0;
        width: 100%;
    }
    .aws-amplify-app-reset-password_header {
        font-size: 20px;
        margin: 8px 0 12px 0;
    }
    .aws-amplify-app-reset-password_image {
        height: 32px;
        width: 32px;
    }
}